@media(min-width:320px) and (max-width:991px){
    .navbar-brand{
        width: 45%;
    }
}
@media(min-width:320px) and (max-width:767px){
    .nav-item{
       text-align: center;
    }
    .banner-contant h5 {
        text-align: center;
    }
    .banner-contant h1 {
        text-align: center;
        font-size: 36px;
    }
    .banner-contant p {
        text-align: center;
        font-size: 14px;
    }
    .banner-contant {
        text-align: center;
    }
    .banner-contant a {
        padding: 7px 15px;
    }
}
@media(min-width:767px) and (max-width:991px){
    .navbar-brand{
        width: 25%;
    }
}
@media(min-width:767px) and (max-width:1199px){
    .about p {
        font-size: 13px;
        margin-left: 60px;
    }
}